* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Header */
/* Top Nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  backdrop-filter: blur(10px);
  background-color: #5e353b;
  color: #F2E0D2;
  align-items: center;
  position: relative; 
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  letter-spacing: 2px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #F2E0D2;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  background: linear-gradient(to bottom, #f5f2ee, #f4e2cb);;
  color: #b22d2d;
}
.footer p{
  color: #dec9af;
}


.ma1 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    position: relative;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}


.card img {
    width: 100%;
    max-width: 300px
    object-fit: cover;
    display: block;
}

/* Overlay */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(17, 17, 17, 0.6);
    color: #fff;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.card:hover .overlay {
    transform: translateY(0);
}

.overlay h2 {
    margin-bottom: 8px;
    font-size: 18px;
}

.overlay p {
    font-size: 13px;
    line-height: 1.5;

}
