/* 基本重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Top Nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  backdrop-filter: blur(10px);
  background-color: #5e353b;
  color: #F2E0D2;
  align-items: center;
  position: relative; 
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  letter-spacing: 2px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #F2E0D2;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}


.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  gap: 25px;
}

/* 年齡區塊 */
.age-section {
    margin: 50px 20px;
}

.age-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #38130f;
}

/* 性別卡片容器 */
.gender-cards {
    display: flex;
    gap: 20px;  /* 卡片間距加大 */
    flex-wrap: wrap;
    justify-content: center;
}

/* 卡片 */
.card {
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15); /* 陰影稍微加深 */
    border-radius: 15px;
    overflow: hidden;
    flex: 1;
    padding: 20px;  /* 內距增加 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}
.card:first-child {
    margin-right: 10px; /* 左右間距一半 */
}

.card:last-child {
    margin-left: 10px;
}

.card:hover {
    transform: scale(1.05);
}

/* 固定尺寸圖片，放大版 */
.card img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-width: 300px;
  object-fit: cover;
    object-fit: contain; /* 保持比例完整顯示 */
    margin-bottom: 15px;/* 圖片與文字間距增加 */
}

/* 文字內容 */
.card h3 {
    font-size: 20px; /* 標題稍微放大 */
    margin-bottom: 12px;
}

.card p {
    font-size: 16px; /* 文字放大 */
    color: #555;
}

.card .tag {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 5px 12px;
    margin: 5px;
    font-size: 14px;
    color: #333;
    border-radius: 6px;
}


/* Footer */
.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  background: linear-gradient(to bottom, #f5f2ee, #f4e2cb);;
  color: #b22d2d;
}
.footer p{
  color: #dec9af;
}
