* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


/* Top Nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  backdrop-filter: blur(10px);
  background-color: #5e353b;
  color: #F2E0D2;
  align-items: center;
  position: relative; 
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  letter-spacing: 2px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #F2E0D2;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

/* Card */
.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Info */
.info {
  padding: 20px;
}

.info h3 {
  margin-bottom: 8px;
}

.info p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
}

/* Tags */
.tag {
  display: inline-block;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 6px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  background: linear-gradient(to bottom, #f5f2ee, #f4e2cb);;
  color: #b22d2d;
}
.footer p{
  color: #dec9af;
}