* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}


/* Top Nav */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  backdrop-filter: blur(10px);
  background-color: #5e353b;
  color: #F2E0D2;
  align-items: center;
  position: relative; 
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  letter-spacing: 2px;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #F2E0D2;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}


/* List Layout */
.list {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

/* Item */
.item {
    display: flex;
    background: #fff;
    margin-bottom: 40px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.item img {
    max-height: 400px;
    object-fit: cover;
}

/* 反向排版 */
.item.reverse {
    flex-direction: row-reverse;
}

.item.reverse img{
    height: 400px;
}


/* Content */
.content {
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h2 {
    margin-bottom: 12px;
}

.desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 18px;
}

/* Tags */
.tags span {
    display: inline-block;
    background: #eee;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 6px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  background: linear-gradient(to bottom, #f5f2ee, #f4e2cb);;
  color: #b22d2d;
}
.footer p{
  color: #dec9af;
}

/* RWD */
@media (max-width: 768px) {

    .item,
    .item.reverse {
        flex-direction: column;
    }

    .item img,
    .content {
        width: 100%;
    }

    .content {
        padding: 25px;
    }
}